.todolist{
  font-size: 20px;
    text-align: left;
}
.button {
    margin-left: 20px;
}
.buttons{
    margin-left: 15px;
}
.buttonActive{
    background-color: #61dafb;
}
.ActiveStages{
    opacity: 0.5;
}
.inputBar{
    margin-left: 15px;
}
.error {
    color: red;

}
.errorInput{
    background-color: red;
}